///------------------------------------
//    #SETTINGS
//------------------------------------

// Globaly available variables

//-------------------------
//    #Colors
//    Global default settings
//	  for colors
//-------------------------

$main-red: #521618;
$second-red: #935757;

$main-pink: #a97f83;
$second-pink: #b79198;
$third-pink: #d2b0b9;
$fourth-pink: #ddc6cc;

$main-gray: #464c4c;
$second-gray: #706f74;
$third-gray: #7e7e7d;
$fourth-gray: #969899;
$fifth-gray: #b8bcbf;
$sixth-gray: #d4dbe1;
$seventh-gray: #e9edf0;
